/*Escritorio*/
@media (min-width: 1024px) and (max-width: 1980px) {
  /* ENCABEZADO*/
  .encabezado {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    margin-top: 2%;
  }

  .logo {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 65%;
    height: auto;
    margin-left: 27%;
  }

  .contBtns {
    width: 85%;
    height: auto;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-left: 14%;
  }

  .btnNavUno {
    grid-column-start: 1;
    grid-column-end: 2;
    background: #b7c0d7;
    border-radius: 10px;
    color: #fff;
    font-family: Jost;
    font-weight: 700;
    font-size: 16px;
    width: 75%;
    height: 100%;
    padding: 4% 0%;
    border: none;
  }

  .btnNavUno:hover {
    border-radius: 10px;
    background: #574b8b;
    cursor: pointer;
    width: 75%;
    height: 100%;
  }

  .btnNavDos {
    grid-column-start: 2;
    grid-column-end: 3;
    background: #b7c0d7;
    border-radius: 10px;
    color: #fff;
    font-family: Jost;
    font-weight: 700;
    font-size: 16px;
    width: 75%;
    height: 100%;
    padding: 4% 0%;
    margin-left: -17%;
    border: none;
  }

  .btnNavDos:hover {
    border-radius: 10px;
    background: #574b8b;
    cursor: pointer;
    width: 75%;
    height: 100%;
  }

  .btnNavTres {
    grid-column-start: 3;
    grid-column-end: 4;
    background: #b7c0d7;
    border-radius: 10px;
    color: #fff;
    font-family: Jost;
    font-weight: 700;
    font-size: 16px;
    width: 75%;
    height: 100%;
    padding: 4% 0%;
    margin-left: -35%;
    border: none;
  }

  .btnNavTres:hover {
    border-radius: 10px;
    background: #574b8b;
    cursor: pointer;
    width: 75%;
    height: 100%;
  }

  .btnNavCuatro {
    grid-column-start: 3;
    grid-column-end: 4;
    background: #b7c0d7;
    border-radius: 10px;
    color: #fff;
    font-family: Jost;
    font-weight: 700;
    font-size: 16px;
    width: 75%;
    height: 100%;
    padding: 4% 0%;
    margin-left: -55%;
    border: none;
  }

  .btnNavCuatro:hover {
    border-radius: 10px;
    background: #574b8b;
    cursor: pointer;
    width: 75%;
    height: 100%;
  }

  .btnNavCinco {
    grid-column-start: 3;
    grid-column-end: 4;
    background: #b7c0d7;
    border-radius: 10px;
    color: #fff;
    font-family: Jost;
    font-weight: 700;
    font-size: 16px;
    width: 75%;
    height: 100%;
    margin-left: -75%;
    border: none;
  }

  .btnNavCinco:hover {
    border-radius: 10px;
    background: #574b8b;
    cursor: pointer;
    width: 75%;
    height: 100%;
  }

  /*SECCION HOME*/
  .Home {
    background-image: url(Imagenes/Fondo.png);
    background-size: cover;
    width: 100%;
    height: 889px;
    margin-top: 2%;
    display: grid;
    grid-template-rows: 15% 85%;
  }

  .parrafo {
    grid-row-start: 2;
    margin-right: 5%;
    color: rgba(189, 152, 101, 0.6);
    text-align: right;
    font-family: Jost;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  /*SECCION NOSOTROS*/
  .CuadroUno {
    background: #757a4e;
  }

  .gpoSub {
    display: grid;
    grid-template-rows: 20% 80%;
    justify-content: center;
    align-content: center;
  }

  .subtema {
    grid-row-start: 1;
    grid-row-end: 2;
    color: #bd9865;
    font-family: Jost;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 5.5%;
    margin-left: 10.5%;
  }

  .parrafoCuadroUno {
    grid-row-start: 2;
    grid-row-end: 3;
    color: #bd9865;
    text-align: justify;
    font-family: Jost;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px; /* 140.625% */
    margin-top: 4.5%;
    margin-left: 10.5%;
    margin-right: 10.5%;
  }

  strong {
    color: #bd9865;
    font-family: Jost;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
  }

  .tarjetas {
    display: grid;
    grid-column: 50% 50%;
  }

  .mision {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 17%;
    margin-left: 24%;
    text-align: justify;
  }

  .vision {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 17%;
    margin-left: 14%;
    margin-right: 24%;
  }

  .subTemTarj {
    color: #757a4e;
    font-family: Jost;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  .ParrTemTarj {
    color: #bd9865;
    font-family: Jost;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .Valores {
    display: grid;
    grid-column: 50% 50%;
    border-top: 3px solid #574b8b;
    border-bottom: 3px solid #574b8b;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 4.5%;
  }

  .ValSubtema {
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
    color: #162b4e;
    font-family: Jost;
    font-size: 26px;
  }

  .MisionFont {
    color: #757a4e;
    font-family: Jost;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 10% 0% 0% 0%;
  }

  .ListaVal {
    grid-column-start: 2;
    grid-column-end: 3;
    color: #bd9865;
    font-family: Jost;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 3% 0% 11.5% 8%;
  }

  .contPolit {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 25% 25% 25% 25%;
  }

  .contPolitText {
    color: #abade7;
    font-family: Jost;
    font-size: 37px;
  }

  .contPolitP {
    color: #bd9865;
    font-family: Jost;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 1%;
    text-align: justify;
  }

  .contPolitPExp {
    color: #bd9865;
    font-family: Jost;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 22px;
    text-align: justify;
  }

  .contPolitPExpDos {
    color: #bd9865;
    font-family: Jost;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 154px;
  }

  h3 {
    color: #757a4e;
    font-family: Jost;
    font-size: 37px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 11px;
  }

  .Pos1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    justify-content: center;
    margin-top: 16%;
  }

  .Pos2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    color: #abade7;
    font-family: Jost;
    font-size: 37px;
    margin-right: 10%;
    margin-top: 2.7%;
  }

  .Pos3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    justify-content: center;
    margin-top: 16%;
  }

  .Pos4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    color: #abade7;
    font-family: Jost;
    font-size: 37px;
    margin-right: 10%;
    margin-top: 2.7%;
  }

  .Pos5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    justify-content: center;
    margin-top: 16%;
  }

  .Pos6 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    color: #abade7;
    font-family: Jost;
    font-size: 37px;
    margin-right: 10%;
    margin-top: 2.7%;
  }

  .Pos7 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    display: grid;
    justify-content: center;
    margin-top: 16%;
  }

  .Pos8 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    color: #abade7;
    font-family: Jost;
    margin-right: 10%;
    margin-top: 2.7%;
  }

  /*SECCION COBERTURA*/

  .CuadroUnoCob {
    margin-top: 10%;
    background: #4d4b50;
  }

  .gpoSubCob {
    display: grid;
    justify-content: center;
    align-content: center;
  }

  .subtemaCob {
    color: #c0c0c0;
    font-family: Jost;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 5.5% 0% 0% 11.7%;
  }

  .parrafoCuadroUnoCob {
    color: #c0c0c0;
    text-align: justify;
    font-family: Jost;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px; /* 140.625% */
    margin: 1% 11.7% 5% 11.7%;
  }

  .justText {
    margin: 5% 11.7% 0% 11.7%;
  }

  .TextMap {
    color: #c0c0c0;
    font-family: Jost;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: right;
    height: 914px;
    width: 100%;
  }

  .Mapa {
    margin-top: -5%;
    background-image: url(Imagenes/mapa.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

/*tablet*/
@media (min-width: 768px) and (max-width: 1023px) {
  /* ENCABEZADO*/
  .encabezado {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    margin-top: 2%;
  }

  .logo {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 65%;
    height: auto;
    margin-left: 27%;
  }

  .contBtns {
    width: 85%;
    height: auto;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-left: 14%;
  }

  .btnNavUno {
    grid-column-start: 1;
    grid-column-end: 2;
    background: #b7c0d7;
    border-radius: 10px;
    color: #fff;
    font-family: Jost;
    font-weight: 500;
    font-size: 14px;
    width: 75%;
    height: 100%;
    padding: 4% 0%;
    border: none;
  }

  .btnNavDos {
    grid-column-start: 2;
    grid-column-end: 3;
    background: #b7c0d7;
    border-radius: 10px;
    color: #fff;
    font-family: Jost;
    font-weight: 500;
    font-size: 14px;
    width: 75%;
    height: 100%;
    padding: 4% 0%;
    margin-left: -17%;
    border: none;
  }

  .btnNavTres {
    grid-column-start: 3;
    grid-column-end: 4;
    background: #b7c0d7;
    border-radius: 10px;
    color: #fff;
    font-family: Jost;
    font-weight: 500;
    font-size: 14px;
    width: 75%;
    height: 100%;
    padding: 4% 0%;
    margin-left: -35%;
    border: none;
  }

  .btnNavCuatro {
    grid-column-start: 3;
    grid-column-end: 4;
    background: #b7c0d7;
    border-radius: 10px;
    color: #fff;
    font-family: Jost;
    font-weight: 500;
    font-size: 14px;
    width: 75%;
    height: 100%;
    padding: 4% 0%;
    margin-left: -55%;
    border: none;
  }

  .btnNavCinco {
    grid-column-start: 3;
    grid-column-end: 4;
    background: #b7c0d7;
    border-radius: 10px;
    color: #fff;
    font-family: Jost;
    font-weight: 500;
    font-size: 14px;
    width: 75%;
    height: 100%;
    margin-left: -75%;
    border: none;
  }

  /*SECCION HOME*/
  .Home {
    background-image: url(Imagenes/Fondo.png);
    background-size: cover;
    width: 100%;
    height: 689px;
    display: grid;
    margin-top: 2%;
    grid-template-rows: 15% 85%;
  }

  .parrafo {
    grid-row-start: 2;
    margin-right: 5%;
    color: rgba(189, 152, 101, 0.6);
    text-align: right;
    font-family: Jost;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  /*SECCION NOSOTROS*/
  .CuadroUno {
    background: #757a4e;
  }

  .gpoSub {
    display: grid;
    grid-template-rows: 20% 80%;
    justify-content: center;
    align-content: center;
  }

  .subtema {
    grid-row-start: 1;
    grid-row-end: 2;
    color: #bd9865;
    font-family: Jost;
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 5.5%;
    margin-left: 10.5%;
  }

  .parrafoCuadroUno {
    grid-row-start: 2;
    grid-row-end: 3;
    color: #bd9865;
    text-align: justify;
    font-family: Jost;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px; /* 140.625% */
    margin-top: 4.5%;
    margin-left: 10.5%;
    margin-right: 10.5%;
  }

  strong {
    color: #bd9865;
    font-family: Jost;
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
  }

  .tarjetas {
    display: grid;
    grid-column: 50% 50%;
  }

  .mision {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 17%;
    margin-left: 24%;
    text-align: justify;
  }

  .vision {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 17%;
    margin-left: 14%;
    margin-right: 24%;
  }

  .subTemTarj {
    color: #757a4e;
    font-family: Jost;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .ParrTemTarj {
    color: #bd9865;
    font-family: Jost;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  .Valores {
    display: grid;
    grid-column: 50% 50%;
    border-top: 3px solid #574b8b;
    border-bottom: 3px solid #574b8b;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 4.5%;
  }

  .ValSubtema {
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
    color: #162b4e;
    font-family: Jost;
    font-size: 21px;
  }

  .MisionFont {
    color: #757a4e;
    font-family: Jost;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 10% 0% 0% 0%;
  }

  .ListaVal {
    grid-column-start: 2;
    grid-column-end: 3;
    color: #bd9865;
    font-family: Jost;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 3% 0% 11.5% 8%;
  }

  .contPolit {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 25% 25% 25% 25%;
  }

  .contPolitText {
    color: #abade7;
    font-family: Jost;
    font-size: 32px;
  }

  .contPolitP {
    color: #bd9865;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 1%;
    text-align: justify;
  }

  .contPolitPExp {
    color: #bd9865;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 17px;
    text-align: justify;
  }

  .contPolitPExpDos {
    color: #bd9865;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 154px;
  }

  h3 {
    color: #757a4e;
    font-family: Jost;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 11px;
  }

  .Pos1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    justify-content: center;
    margin-top: 16%;
  }

  .Pos2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    color: #abade7;
    font-family: Jost;
    font-size: 32px;
    margin-right: 10%;
    margin-top: 2.7%;
  }

  .Pos3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    justify-content: center;
    margin-top: 16%;
  }

  .Pos4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    color: #abade7;
    font-family: Jost;
    font-size: 32px;
    margin-right: 10%;
    margin-top: 2.7%;
  }

  .Pos5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    justify-content: center;
    margin-top: 16%;
  }

  .Pos6 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    color: #abade7;
    font-family: Jost;
    font-size: 32px;
    margin-right: 10%;
    margin-top: 2.7%;
  }

  .Pos7 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    display: grid;
    justify-content: center;
    margin-top: 16%;
  }

  .Pos8 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    color: #abade7;
    font-family: Jost;
    margin-right: 10%;
    margin-top: 2.7%;
  }

  /*SECCION COBERTURA*/

  .CuadroUnoCob {
    margin-top: 10%;
    background: #4d4b50;
  }

  .gpoSubCob {
    display: grid;
    justify-content: center;
    align-content: center;
  }

  .subtemaCob {
    color: #c0c0c0;
    font-family: Jost;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 5.5% 0% 0% 11.7%;
  }

  .parrafoCuadroUnoCob {
    color: #c0c0c0;
    text-align: justify;
    font-family: Jost;
    font-size: 27px;
    font-style: normal;
    font-weight: 300;
    line-height: 35px; /* 140.625% */
    margin: 1% 11.7% 5% 11.7%;
  }

  .justText {
    margin: 5% 11.7% 0% 11.7%;
  }

  .TextMap {
    color: #c0c0c0;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: right;
    height: 914px;
    width: 100%;
  }

  .Mapa {
    margin-top: -5%;
    background-image: url(Imagenes/mapa.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

/*Movil*/
@media (min-width: 320px) and (max-width: 767px) {
  /* ENCABEZADO*/
  .encabezado.encabezadoMobile {
    display: grid;
    grid-template-rows: 20% 80%;
    align-items: center;
  }

  .contImg.contImgMobile {
    grid-row-start: 1;
    grid-row-end: 2;
    width: 50%;
    height: auto;
    margin-left: 25%;
    margin-top: 5%;
  }

  .contBtns.contBtnsMobile {
    width: 70%;
    height: auto;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    margin-left: 25%;
  }

  .btnNavUno.btnNavUnoMobile {
    grid-row-start: 1;
    grid-row-end: 2;
    background: #b7c0d7;
    border-radius: 10px;
    color: #fff;
    font-family: Jost;
    font-weight: 300;
    font-size: 18px;
    width: 75%;
    height: 90%;
    border: none;
  }

  .btnNavDos.btnNavDosMobile {
    grid-row-start: 2;
    grid-row-end: 3;
    background: #b7c0d7;
    border-radius: 10px;
    color: #fff;
    font-family: Jost;
    font-weight: 300;
    font-size: 18px;
    width: 75%;
    height: 90%;
    border: none;
  }

  .btnNavTres.btnNavTresMobile {
    grid-row-start: 3;
    grid-row-end: 4;
    background: #b7c0d7;
    border-radius: 10px;
    color: #fff;
    font-family: Jost;
    font-weight: 300;
    font-size: 18px;
    width: 75%;
    height: 90%;
    border: none;
  }

  .btnNavCuatro.btnNavCuatroMobile {
    grid-row-start: 3;
    grid-row-end: 4;
    background: #b7c0d7;
    border-radius: 10px;
    color: #fff;
    font-family: Jost;
    font-weight: 300;
    font-size: 18px;
    width: 75%;
    height: 90%;
    border: none;
  }

  .btnNavCinco.btnNavCincoMobile {
    grid-row-start: 4;
    grid-row-end: 5;
    background: #b7c0d7;
    border-radius: 10px;
    color: #fff;
    font-family: Jost;
    font-weight: 300;
    font-size: 18px;
    width: 75%;
    height: 90%;
    border: none;
  }

  /*SECCION HOME*/
  .Home {
    background-image: url(Imagenes/Fondo.png);
    background-size: cover;
    width: 100%;
    height: 300px;
    margin-top: 2%;
    display: grid;
    grid-template-rows: 15% 85%;
  }

  .parrafo {
    grid-row-start: 2;
    margin-right: 5%;
    color: rgba(189, 152, 101, 0.6);
    text-align: right;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  /*SECCION NOSOTROS*/
  .CuadroUno {
    background: #757a4e;
  }

  .gpoSub {
    display: grid;
    grid-template-rows: 20% 80%;
    justify-content: center;
    align-content: center;
  }

  .subtema {
    grid-row-start: 1;
    grid-row-end: 2;
    color: #bd9865;
    font-family: Jost;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    margin-top: 5.5%;
    margin-left: 10.5%;
  }

  .parrafoCuadroUno {
    grid-row-start: 2;
    grid-row-end: 3;
    color: #bd9865;
    text-align: justify;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px; /* 140.625% */
    margin-top: 4.5%;
    margin-left: 10.5%;
    margin-right: 10.5%;
  }

  strong {
    color: #bd9865;
    font-family: Jost;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
  }

  .tarjetas {
    display: grid;
    grid-row: 50% 50%;
  }

  .mision {
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 7%;
    margin-left: 2%;
    margin-right: 5%;
    text-align: justify;
  }

  .vision {
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 7%;
    margin-left: 2%;
    margin-right: 5%;
    text-align: justify;
  }

  .subTemTarj {
    color: #757a4e;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
  }

  .ParrTemTarj {
    color: #bd9865;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
  }

  .Valores {
    display: grid;
    grid-row: 20% 80%;
    border-top: 3px solid #574b8b;
    border-bottom: 3px solid #574b8b;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 4.5%;
  }

  .ValSubtema {
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    color: #162b4e;
    font-family: Jost;
    font-size: 15px;
  }

  .MisionFont {
    color: #757a4e;
    font-family: Jost;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 10% 0% 0% 0%;
  }

  .ListaVal {
    grid-row-start: 2;
    grid-row-end: 3;
    color: #bd9865;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 3% 0% 11.5% 8%;
  }

  .contPolit {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 25% 25% 25% 25%;
  }

  .contPolitText {
    color: #abade7;
    font-family: Jost;
    font-size: 22px;
  }

  .contPolitP {
    color: #bd9865;
    font-family: Jost;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
  }

  .contPolitPExp {
    color: #bd9865;
    font-family: Jost;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    text-align: justify;
  }

  .contPolitPExpDos {
    color: #bd9865;
    font-family: Jost;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
    margin-bottom: 154px;
  }

  h3 {
    color: #757a4e;
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
  }

  .Pos1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    justify-content: center;
    margin-top: 20%;
    opacity: 0.15;
  }

  .Pos2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    color: #abade7;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2.7%;
  }

  .Pos3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    justify-content: center;
    margin-top: 20%;
    opacity: 0.15;
  }

  .Pos4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    color: #abade7;
    font-family: Jost;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2.7%;
  }

  .Pos5 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    justify-content: center;
    margin-top: 20%;
    opacity: 0.15;
  }

  .Pos6 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    color: #abade7;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2.7%;
  }

  .Pos7 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    display: grid;
    justify-content: center;
    margin-top: 20%;
    opacity: 0.15;
  }

  .Pos8 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    color: #abade7;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2.7%;
  }

  /*SECCION COBERTURA*/

  .CuadroUnoCob {
    margin-top: 10%;
    background: #4d4b50;
  }

  .gpoSubCob {
    display: grid;
    justify-content: center;
    align-content: center;
  }

  .subtemaCob {
    color: #c0c0c0;
    font-family: Jost;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 5.5% 0% 0% 11.7%;
  }

  .parrafoCuadroUnoCob {
    color: #c0c0c0;
    text-align: justify;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 15px; /* 140.625% */
    margin: 1% 11.7% 5% 11.7%;
  }

  .justText {
    margin: 5% 11.7% 0% 11.7%;
  }

  .TextMap {
    color: #c0c0c0;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    text-align: right;
    height: 914px;
    width: 100%;
    line-height: 17px;
  }

  .Mapa {
    margin-top: -5%;
    background-image: url(Imagenes/mapa.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .TextMobile {
    font-size: 15px;
    line-height: 15px;
  }
}
