/*Escritorio*/
@media (min-width: 1024px) and (max-width: 1980px) {
  /* ENCABEZADO*/
  .encabezado {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    margin-top: 2%;
  }

  .logo {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 65%;
    height: auto;
    margin-left: 27%;
  }

  .contBtns {
    width: 85%;
    height: auto;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-left: 14%;
  }

  .btnNavUno {
    grid-column-start: 1;
    grid-column-end: 2;
    background: #b7c0d7;
    border-radius: 10px;
    color: #fff;
    font-family: Jost;
    font-weight: 700;
    font-size: 16px;
    width: 75%;
    height: 100%;
    padding: 4% 0%;
    border: none;
  }

  .btnNavUno:hover {
    border-radius: 10px;
    background: #574b8b;
    cursor: pointer;
    width: 75%;
    height: 100%;
  }

  .btnNavDos {
    grid-column-start: 2;
    grid-column-end: 3;
    background: #b7c0d7;
    border-radius: 10px;
    color: #fff;
    font-family: Jost;
    font-weight: 700;
    font-size: 16px;
    width: 75%;
    height: 100%;
    padding: 4% 0%;
    margin-left: -17%;
    border: none;
  }

  .btnNavDos:hover {
    border-radius: 10px;
    background: #574b8b;
    cursor: pointer;
    width: 75%;
    height: 100%;
  }

  .btnNavTres {
    grid-column-start: 3;
    grid-column-end: 4;
    background: #b7c0d7;
    border-radius: 10px;
    color: #fff;
    font-family: Jost;
    font-weight: 700;
    font-size: 16px;
    width: 75%;
    height: 100%;
    padding: 4% 0%;
    margin-left: -35%;
    border: none;
  }

  .btnNavTres:hover {
    border-radius: 10px;
    background: #574b8b;
    cursor: pointer;
    width: 75%;
    height: 100%;
  }

  .btnNavCuatro {
    grid-column-start: 3;
    grid-column-end: 4;
    background: #b7c0d7;
    border-radius: 10px;
    color: #fff;
    font-family: Jost;
    font-weight: 700;
    font-size: 16px;
    width: 75%;
    height: 100%;
    padding: 4% 0%;
    margin-left: -55%;
    border: none;
  }

  .btnNavCuatro:hover {
    border-radius: 10px;
    background: #574b8b;
    cursor: pointer;
    width: 75%;
    height: 100%;
  }

  .btnNavCinco {
    grid-column-start: 3;
    grid-column-end: 4;
    background: #b7c0d7;
    border-radius: 10px;
    color: #fff;
    font-family: Jost;
    font-weight: 700;
    font-size: 16px;
    width: 75%;
    height: 100%;
    margin-left: -75%;
    border: none;
  }

  .btnNavCinco:hover {
    border-radius: 10px;
    background: #574b8b;
    cursor: pointer;
    width: 75%;
    height: 100%;
  }

  /*SECCION HOME*/
  .Home {
    background-image: url(Imagenes/Fondo.png);
    background-size: cover;
    width: 100%;
    height: 889px;
    margin-top: 2%;
    display: grid;
    grid-template-rows: 15% 85%;
  }

  .parrafo {
    grid-row-start: 2;
    margin-right: 5%;
    color: rgba(189, 152, 101, 0.6);
    text-align: right;
    font-family: Jost;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  /*SECCION NOSOTROS*/
  .CuadroUno {
    background: #757a4e;
  }

  .gpoSub {
    display: grid;
    grid-template-rows: 20% 80%;
    justify-content: center;
    align-content: center;
  }

  .subtema {
    grid-row-start: 1;
    grid-row-end: 2;
    color: #bd9865;
    font-family: Jost;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 5.5%;
    margin-left: 10.5%;
  }

  .parrafoCuadroUno {
    grid-row-start: 2;
    grid-row-end: 3;
    color: #bd9865;
    text-align: justify;
    font-family: Jost;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px; /* 140.625% */
    margin-top: 4.5%;
    margin-left: 10.5%;
    margin-right: 10.5%;
  }

  strong {
    color: #bd9865;
    font-family: Jost;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
  }
}

/*tablet*/
@media (min-width: 768px) and (max-width: 1023px) {
  /* ENCABEZADO*/
  .encabezado {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    margin-top: 2%;
  }

  .logo {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 65%;
    height: auto;
    margin-left: 27%;
  }

  .contBtns {
    width: 85%;
    height: auto;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-left: 14%;
  }

  .btnNavUno {
    grid-column-start: 1;
    grid-column-end: 2;
    background: #b7c0d7;
    border-radius: 10px;
    color: #fff;
    font-family: Jost;
    font-weight: 500;
    font-size: 14px;
    width: 75%;
    height: 100%;
    padding: 4% 0%;
    border: none;
  }

  .btnNavDos {
    grid-column-start: 2;
    grid-column-end: 3;
    background: #b7c0d7;
    border-radius: 10px;
    color: #fff;
    font-family: Jost;
    font-weight: 500;
    font-size: 14px;
    width: 75%;
    height: 100%;
    padding: 4% 0%;
    margin-left: -17%;
    border: none;
  }

  .btnNavTres {
    grid-column-start: 3;
    grid-column-end: 4;
    background: #b7c0d7;
    border-radius: 10px;
    color: #fff;
    font-family: Jost;
    font-weight: 500;
    font-size: 14px;
    width: 75%;
    height: 100%;
    padding: 4% 0%;
    margin-left: -35%;
    border: none;
  }

  .btnNavCuatro {
    grid-column-start: 3;
    grid-column-end: 4;
    background: #b7c0d7;
    border-radius: 10px;
    color: #fff;
    font-family: Jost;
    font-weight: 500;
    font-size: 14px;
    width: 75%;
    height: 100%;
    padding: 4% 0%;
    margin-left: -55%;
    border: none;
  }

  .btnNavCinco {
    grid-column-start: 3;
    grid-column-end: 4;
    background: #b7c0d7;
    border-radius: 10px;
    color: #fff;
    font-family: Jost;
    font-weight: 500;
    font-size: 14px;
    width: 75%;
    height: 100%;
    margin-left: -75%;
    border: none;
  }

  /*SECCION HOME*/
  .Home {
    background-image: url(Imagenes/Fondo.png);
    background-size: cover;
    width: 100%;
    height: 689px;
    display: grid;
    margin-top: 2%;
    grid-template-rows: 15% 85%;
  }

  .parrafo {
    grid-row-start: 2;
    margin-right: 5%;
    color: rgba(189, 152, 101, 0.6);
    text-align: right;
    font-family: Jost;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  /*SECCION NOSOTROS*/
  .CuadroUno {
    background: #757a4e;
  }

  .gpoSub {
    display: grid;
    grid-template-rows: 20% 80%;
    justify-content: center;
    align-content: center;
  }

  .subtema {
    grid-row-start: 1;
    grid-row-end: 2;
    color: #bd9865;
    font-family: Jost;
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 5.5%;
    margin-left: 10.5%;
  }

  .parrafoCuadroUno {
    grid-row-start: 2;
    grid-row-end: 3;
    color: #bd9865;
    text-align: justify;
    font-family: Jost;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px; /* 140.625% */
    margin-top: 4.5%;
    margin-left: 10.5%;
    margin-right: 10.5%;
  }

  strong {
    color: #bd9865;
    font-family: Jost;
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
  }
}

/*Movil*/
@media (min-width: 320px) and (max-width: 767px) {
  /* ENCABEZADO*/
  .encabezado.encabezadoMobile {
    display: grid;
    grid-template-rows: 20% 80%;
    align-items: center;
  }

  .contImg.contImgMobile {
    grid-row-start: 1;
    grid-row-end: 2;
    width: 50%;
    height: auto;
    margin-left: 25%;
    margin-top: 5%;
  }

  .contBtns.contBtnsMobile {
    width: 70%;
    height: auto;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    margin-left: 25%;
  }

  .btnNavUno.btnNavUnoMobile {
    grid-row-start: 1;
    grid-row-end: 2;
    background: #b7c0d7;
    border-radius: 10px;
    color: #fff;
    font-family: Jost;
    font-weight: 300;
    font-size: 18px;
    width: 75%;
    height: 90%;
    border: none;
  }

  .btnNavDos.btnNavDosMobile {
    grid-row-start: 2;
    grid-row-end: 3;
    background: #b7c0d7;
    border-radius: 10px;
    color: #fff;
    font-family: Jost;
    font-weight: 300;
    font-size: 18px;
    width: 75%;
    height: 90%;
    border: none;
  }

  .btnNavTres.btnNavTresMobile {
    grid-row-start: 3;
    grid-row-end: 4;
    background: #b7c0d7;
    border-radius: 10px;
    color: #fff;
    font-family: Jost;
    font-weight: 300;
    font-size: 18px;
    width: 75%;
    height: 90%;
    border: none;
  }

  .btnNavCuatro.btnNavCuatroMobile {
    grid-row-start: 3;
    grid-row-end: 4;
    background: #b7c0d7;
    border-radius: 10px;
    color: #fff;
    font-family: Jost;
    font-weight: 300;
    font-size: 18px;
    width: 75%;
    height: 90%;
    border: none;
  }

  .btnNavCinco.btnNavCincoMobile {
    grid-row-start: 4;
    grid-row-end: 5;
    background: #b7c0d7;
    border-radius: 10px;
    color: #fff;
    font-family: Jost;
    font-weight: 300;
    font-size: 18px;
    width: 75%;
    height: 90%;
    border: none;
  }

  /*SECCION HOME*/
  .Home {
    background-image: url(Imagenes/Fondo.png);
    background-size: cover;
    width: 100%;
    height: 300px;
    margin-top: 2%;
    display: grid;
    grid-template-rows: 15% 85%;
  }

  .parrafo {
    grid-row-start: 2;
    margin-right: 5%;
    color: rgba(189, 152, 101, 0.6);
    text-align: right;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

/*SECCION NOSOTROS*/
.CuadroUno {
    background: #757a4e;
  }

  .gpoSub {
    display: grid;
    grid-template-rows: 20% 80%;
    justify-content: center;
    align-content: center;
  }

  .subtema {
    grid-row-start: 1;
    grid-row-end: 2;
    color: #bd9865;
    font-family: Jost;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    margin-top: 5.5%;
    margin-left: 10.5%;
  }

  .parrafoCuadroUno {
    grid-row-start: 2;
    grid-row-end: 3;
    color: #bd9865;
    text-align: justify;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px; /* 140.625% */
    margin-top: 4.5%;
    margin-left: 10.5%;
    margin-right: 10.5%;
  }

  strong {
    color: #bd9865;
    font-family: Jost;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
  }
}


}
